@charset "utf-8";
/* CSS Document */

*
{
	margin:0;
}

body
{
	font-family: "dancing script";
	
}
header
{
	width: 100%;
	height: 20vh;
	background-color: #5b7989;
	border-radius: 10px ;
   	margin: 0 auto;
	
	
	
}
.titulo
{
	float: left;
	margin-top: 6vh;
	margin-left: 2vw;
	color: white;
	font-size: 6vmin;
	text-shadow: 2px 2px 2px #02010a;
	
}
#menu_principal
{
	float: right;
	margin-right: 2vw;
	word-spacing: 2vw;
	font-size: 4vmin;
	margin-top: 7vh;
	
}
a
{
	 
	color: white; 
	text-decoration: none;
	
}
#paraiso
{
	text-align: center;
	background-color: #82c3a6;
}
