@charset "utf-8";
/* CSS Document */

*
{
	margin:0;
}

body
{
	font-family: "dancing script";
	width: 100%;
	
}
header
{
	width: 100%;
	height: 20vh;
	background-color: #5b7989;
	border-radius:  10px 10px 0 0;
   	margin: 0 auto;	
}

.titulo
{
	float: left;
	margin-top: 6vh;
	margin-left: 2vw;
	color: white;
	font-size: 6vmin;
	text-shadow: 2px 2px 2px #02010a;
	
}

#menu_principal
{
	float: right;
	margin-right: 2vw;
	word-spacing: 2vw;
	font-size: 4vmin;
	margin-top: 7vh;
	
}
	a
	{

		color: white; 
		text-decoration: none;

	}
#contenedor
{
	width: 100%;
	margin: 0 auto;
}
	article 
	{
		box-sizing: border-box;
		float:left;
		height: 100%;
		text-align: center;
		

	}
	img
	{
		margin-top: 2vmin
	}

	#paraiso 
	{
		background-color: #82c3a6;
		width: 100%;
	}
	#paisajes
	{
		background-color: #d5c75f;
		border: 1px solid;
		width:  50%;
	}
	#retratos
	{
		background-color: #d5c75f;
		border: 1px solid;
		width:  50%;
		
	}
	[alt=retratos]
	{
		width: 50%;		
	}
	[alt=paisajes]
	{
		width: 74%;		
	}
	[alt=paraiso]
	{
		width: 50%;		
	}